* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
}

.movie,
.director {
  width: 300px;
  border: 1px solid teal;
  margin-top: 20px;
  padding: 10px;
}
